<?xml version="1.0"?>
<launch>
      <include file="$(find ampru_control)/launch/control.launch"/>
      <node name="spawn_ampru_model" pkg="gazebo_ros" type="spawn_model" 
            args="-unpause
                  -urdf
                  -param robot_description
                  -model ampu
                  -x 0
                  -y 0
                  -z 1.0"/>
</launch>
