<?xml version="1.0"?>
<launch>
    <node name="ampru_node" pkg="ampru_base" type="ampru_node" output="screen">
        <param name="max_speed" value="0.5"/>
    </node>
    <include file="$(find ampru_control)/launch/control.launch"/>
    <include file="$(find ampru_control)/launch/teleop-joy.launch"/>
</launch>
