<?xml version="1.0"?>
<launch>
    <!-->
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" respawn="true">
        <param name="port" value="/dev/ttyUSB0"/>
	<param name="baud" value="57600"/>
    </node>
    -->
    <node name="ampru_node" pkg="ampru_base" type="ampru_node" output="screen"/>
    <include file="$(find ampru_control)/launch/control.launch"/>
</launch>
